---
import WorkCardTech from "./WorkCardTech.astro";

export const prerender = false;
interface Props {
  data: {
    content: {
      title: string;
      headline: string;
      technology: any[];
    };
  };
}

const { data } = Astro.props;
const work = data?.content;
const techs = work?.technology;
---

<article class="feature rounded bg-pinoy-cream-500 text-black">
  <div class="p-4">
    <h1 class="text-2xl font-kagitingan lg:text-2xl">
      {work.title}
    </h1>
    <p class="leading-relaxed line-clamp-2">
      {work.headline}
    </p>
    {
      techs.length > 0 && (
        <div class="flex flex-wrap mt-2">
          {
            techs.map(({ content }) => (
              <WorkCardTech name={content.name} filename={content.logo.filename} source={content.source}/>
            ))
          }
        </div>
      )
    }
  </div>
</article>
